# OS
.DS_Store

# IDE
.idea/
.vscode/

# Rust
/target/
**/*.rs.bk

# Node
node_modules/

# Env
.env
.env.*

# Flutter/Dart
**/.dart_tool/
**/build/
**/*.lock
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

